In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\Python\Python_basic\Basics\SuperStoreOrders.csv")
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,5/1/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011

In [3]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [5]:
type(df['order_date'])

pandas.core.series.Series

**In pandas, there are two datatypes**
1) Series
2) DataFrame

In [6]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [7]:
df['profit']

0        106.1400
1         36.0360
2         29.6400
3        -26.0550
4         37.7700
           ...
51285      4.5188
51286      0.4200
51287     12.3600
51288      0.5600
51289     -0.6048
Name: profit, Length: 51290, dtype: float64

## **For accessing more than one column of the dataframe we need to follow the below syntax**

In [9]:
df[['profit', 'country']]

         profit        country
0      106.1400        Algeria
1       36.0360      Australia
2       29.6400        Hungary
3      -26.0550         Sweden
4       37.7700      Australia
...         ...            ...
51285    4.5188  United States
51286    0.4200        Morocco
51287   12.3600      Nicaragua
51288    0.5600         Mexico
51289   -0.6048  United States

[51290 rows x 2 columns]

In [11]:
df['profit']

0        106.1400
1         36.0360
2         29.6400
3        -26.0550
4         37.7700
           ...
51285      4.5188
51286      0.4200
51287     12.3600
51288      0.5600
51289     -0.6048
Name: profit, Length: 51290, dtype: float64

In [12]:
df[['profit']]

         profit
0      106.1400
1       36.0360
2       29.6400
3      -26.0550
4       37.7700
...         ...
51285    4.5188
51286    0.4200
51287   12.3600
51288    0.5600
51289   -0.6048

[51290 rows x 1 columns]

### **Difference between df[['profit']] and df['profit'] is that :**
\
df[['profit']] returns the dataframe as we are passing the column name as list.
\
df['profit'] returns the series of that column.

### **Describe method for the integer or float datatype**

In [13]:
df.describe()

           quantity      discount        profit  shipping_cost          year
count  51290.000000  51290.000000  51290.000000   51290.000000  51290.000000
mean       3.476545      0.142908     28.641740      26.375915   2012.777208
std        2.278766      0.212280    174.424113      57.296804      1.098931
min        1.000000      0.000000  -6599.978000       0.000000   2011.000000
25%        2.000000      0.000000      0.000000       2.610000   2012.000000
50%        3.000000      0.000000      9.240000       7.790000   2013.000000
75%        5.000000      0.200000     36.810000      24.450000   2014.000000
max       14.000000      0.850000   8399.976000     933.570000   2014.000000

### **Filter out and Describe method for the object datatype**

In [23]:
df[df.dtypes[df.dtypes == 'object'].index].describe()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,product_id,category,sub_category,product_name,sales,order_priority
count,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290
unique,25035,1430,1464,4,795,3,1094,147,7,13,10292,3,17,3788,2246,4
top,CA-2014-100111,18-06-2014,22-11-2014,Standard Class,Muhammed Yedwab,Consumer,California,United States,APAC,Central,OFF-AR-10003651,Office Supplies,Binders,Staples,13,Medium
freq,14,135,130,30775,108,26518,2001,9994,11002,11117,35,31273,6152,227,589,29433

In [27]:
df[df.dtypes[df.dtypes == 'float'].index]

       discount    profit  shipping_cost
0           0.0  106.1400          35.46
1           0.1   36.0360           9.72
2           0.0   29.6400           8.17
3           0.5  -26.0550           4.82
4           0.1   37.7700           4.70
...         ...       ...            ...
51285       0.2    4.5188           0.89
51286       0.0    0.4200           0.49
51287       0.0   12.3600           0.35
51288       0.0    0.5600           0.20
51289       0.2   -0.6048           0.17

[51290 rows x 3 columns]

In [28]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

### **Fetch records from a specific column with specific indexes**

We can do this as any column of a dataframe is of series type and series datatype acts like a list.
\
Hence we can slice the data as list slicing

In [32]:
df['order_id'][:5]

0       AG-2011-2040
1      IN-2011-47883
2       HU-2011-1220
3    IT-2011-3647632
4      IN-2011-47883
Name: order_id, dtype: object

### **Adding a new column in the existing dataframe**

In [33]:
df['category1'] = 'product'
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
0,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,product
1,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,product
2,HU-2011-1220,1/1/2011,5/1/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,product
3,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,product
4,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,31-12-2014,4/1/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,product
51286,MO-2014-2560,31-12-2014,5/1/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÃ¢,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,product
51287,MX-2014-110527,31-12-2014,2/1/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,product
51288,MX-2014-114783,31-12-2014,6/1/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,product
51289,CA-2014-156720,31-12-2014,4/1/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,product

In [34]:
df.isnull().sum()

order_id          0
order_date        0
ship_date         0
ship_mode         0
customer_name     0
segment           0
state             0
country           0
market            0
region            0
product_id        0
category          0
sub_category      0
product_name      0
sales             0
quantity          0
discount          0
profit            0
shipping_cost     0
order_priority    0
year              0
category1         0
dtype: int64

### **filter out the record who has maximum profit**

In [50]:
df[df['profit'] == max(df['profit'])][['customer_name', 'profit']]

      customer_name    profit
29530  Tamara Chand  8399.976

### **filter out all the records where country is sweden**

In [58]:
df[df['country'] == 'Sweden']

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
3,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011,product
168,IT-2011-5951216,13-01-2011,20-01-2011,Standard Class,Stuart Calhoun,Consumer,VÃ¤stra GÃ¶taland,Sweden,EU,North,...,Art,"Sanford Pens, Fluorescent",31,5,0.5,-13.650,2.16,Medium,2011,product
477,IT-2011-5645183,3/2/2011,5/2/2011,Second Class,Max Ludwig,Home Office,Uppsala,Sweden,EU,North,...,Art,"Boston Pencil Sharpener, Easy-Erase",91,6,0.5,-61.650,6.64,Medium,2011,product
1342,IT-2011-5233011,31-03-2011,6/4/2011,Standard Class,Todd Sumrall,Corporate,VÃ¤stra GÃ¶taland,Sweden,EU,North,...,Furnishings,"Advantus Photo Frame, Durable",40,2,0.6,-44.052,2.78,Medium,2011,product
1554,IT-2011-2419493,12/4/2011,13-04-2011,First Class,Alice McCarthy,Corporate,Stockholm,Sweden,EU,North,...,Phones,"Nokia Headset, VoIP",73,2,0.5,-11.760,22.18,High,2011,product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50948,IT-2014-5217096,26-12-2014,31-12-2014,Standard Class,Trudy Glocke,Consumer,Stockholm,Sweden,EU,North,...,Accessories,"Belkin Flash Drive, Bluetooth",21,1,0.5,-5.460,0.98,Medium,2014,product
50949,IT-2014-5217096,26-12-2014,31-12-2014,Standard Class,Trudy Glocke,Consumer,Stockholm,Sweden,EU,North,...,Furnishings,"Advantus Photo Frame, Durable",20,1,0.6,-22.026,0.98,Medium,2014,product
50972,IT-2014-4046179,27-12-2014,30-12-2014,Second Class,Jeremy Farry,Consumer,Stockholm,Sweden,EU,North,...,Appliances,"KitchenAid Refrigerator, Black","1,582",6,0.5,-443.070,55.39,Medium,2014,product
51086,IT-2014-2362249,29-12-2014,1/1/2015,First Class,Mitch Gastineau,Corporate,Stockholm,Sweden,EU,North,...,Art,"BIC Pens, Fluorescent",31,4,0.5,-10.680,8.44,High,2014,product
51121,IT-2014-2362249,29-12-2014,1/1/2015,First Class,Mitch Gastineau,Corporate,Stockholm,Sweden,EU,North,...,Art,"Sanford Highlighters, Blue",8,1,0.5,-6.165,2.00,High,2014,product

### **Filter out the data where shipment cost is > 100 and profit < 10**

In [64]:
df[(df['shipping_cost'] > 100) & (df['profit'] < 10)]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
8,ID-2011-80230,3/1/2011,9/1/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Copiers,"Hewlett Wireless Fax, Laser",912,4,0.40,-319.464,107.10,Low,2011,product
257,MX-2011-146584,21-01-2011,27-01-2011,Standard Class,Hunter Lopez,Consumer,Managua,Nicaragua,LATAM,Central,...,Tables,"Chromcraft Conference Table, Fully Assembled","2,797",6,0.20,-0.072,320.38,Low,2011,product
451,ES-2011-1640672,2/2/2011,5/2/2011,First Class,Ken Heidel,Corporate,Saxony,Germany,EU,Central,...,Phones,"Motorola Signal Booster, Cordless",584,8,0.50,-58.560,109.14,High,2011,product
625,ID-2011-47575,15-02-2011,21-02-2011,Standard Class,Christopher Martinez,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Phones,"Nokia Signal Booster, with Caller ID",921,9,0.25,-172.125,128.01,Low,2011,product
626,ID-2011-47575,15-02-2011,21-02-2011,Standard Class,Christopher Martinez,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Copiers,"Brother Fax Machine, High-Speed","1,235",6,0.35,-456.174,118.63,Low,2011,product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50781,CA-2014-147956,25-12-2014,1/1/2015,Standard Class,Alan Hwang,Consumer,Washington,United States,US,West,...,Storage,Office Impressions Heavy Duty Welded Shelving ...,"1,004",6,0.00,0.000,121.83,Low,2014,product
50969,US-2014-120166,27-12-2014,31-12-2014,Standard Class,Frank Hawley,Corporate,Valle del Cauca,Colombia,LATAM,South,...,Tables,"Barricks Training Table, Rectangular",842,5,0.20,-200.080,120.11,High,2014,product
50970,ES-2014-4296634,27-12-2014,2/1/2015,Standard Class,Harry Marie,Corporate,Brittany,France,EU,Central,...,Appliances,"Hamilton Beach Microwave, White","1,010",4,0.10,-44.940,108.27,Low,2014,product
51034,ID-2014-68183,29-12-2014,31-12-2014,First Class,Adam Hart,Corporate,Victoria,Australia,APAC,Oceania,...,Appliances,"Hoover Stove, Red","1,535",3,0.10,-102.411,255.42,Medium,2014,product
51153,ID-2014-51509,30-12-2014,1/1/2015,Second Class,Naresj Patel,Consumer,Australian Capital Territory,Australia,APAC,Oceania,...,Chairs,"Harbour Creations Rocking Chair, Black",434,5,0.40,-166.470,124.63,Critical,2014,product

### **Convert a date column from object datatype to datetime datatype**

In [72]:
date = pd.to_datetime(df['order_date'])
date

C:\Users\Comsense Nishchal\AppData\Local\Temp\ipykernel_16536\577380333.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  date = pd.to_datetime(df['order_date'])

0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
           ...
51285   2014-12-31
51286   2014-12-31
51287   2014-12-31
51288   2014-12-31
51289   2014-12-31
Name: order_date, Length: 51290, dtype: datetime64[ns]

In [73]:
df['converted_order_date'] = pd.to_datetime(df['order_date'])
df

C:\Users\Comsense Nishchal\AppData\Local\Temp\ipykernel_16536\1540595789.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['converted_order_date'] = pd.to_datetime(df['order_date'])

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date
0,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,product,2011-01-01
1,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,product,2011-01-01
2,HU-2011-1220,1/1/2011,5/1/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,product,2011-01-01
3,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,product,2011-01-01
4,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,product,2011-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,31-12-2014,4/1/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,product,2014-12-31
51286,MO-2014-2560,31-12-2014,5/1/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÃ¢,Morocco,Africa,Africa,...,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,product,2014-12-31
51287,MX-2014-110527,31-12-2014,2/1/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,product,2014-12-31
51288,MX-2014-114783,31-12-2014,6/1/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,product,2014-12-31
51289,CA-2014-156720,31-12-2014,4/1/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,product,2014-12-31

In [74]:
df.dtypes

order_id                        object
order_date                      object
ship_date                       object
ship_mode                       object
customer_name                   object
segment                         object
state                           object
country                         object
market                          object
region                          object
product_id                      object
category                        object
sub_category                    object
product_name                    object
sales                           object
quantity                         int64
discount                       float64
profit                         float64
shipping_cost                  float64
order_priority                  object
year                             int64
category1                       object
converted_order_date    datetime64[ns]
dtype: object

### **Extract year from new created date column and create a new column for year**

In [75]:
df['order_date_year'] = df['converted_order_date'].dt.year
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year
0,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,408,2,0.0,106.140,35.46,Medium,2011,product,2011-01-01,2011
1,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,120,3,0.1,36.036,9.72,Medium,2011,product,2011-01-01,2011
2,HU-2011-1220,1/1/2011,5/1/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,66,4,0.0,29.640,8.17,High,2011,product,2011-01-01,2011
3,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,45,3,0.5,-26.055,4.82,High,2011,product,2011-01-01,2011
4,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,114,5,0.1,37.770,4.70,Medium,2011,product,2011-01-01,2011

In [76]:
df['order_date_month'] = df['converted_order_date'].dt.month
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,quantity,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month
0,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,2,0.0,106.140,35.46,Medium,2011,product,2011-01-01,2011,1
1,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,3,0.1,36.036,9.72,Medium,2011,product,2011-01-01,2011,1
2,HU-2011-1220,1/1/2011,5/1/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,4,0.0,29.640,8.17,High,2011,product,2011-01-01,2011,1
3,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,3,0.5,-26.055,4.82,High,2011,product,2011-01-01,2011,1
4,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,5,0.1,37.770,4.70,Medium,2011,product,2011-01-01,2011,1

In [81]:
df['order_date_week'] = df['converted_order_date'].dt.weekofyear
df.head()

C:\Users\Comsense Nishchal\AppData\Local\Temp\ipykernel_16536\3737071876.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['order_date_week'] = df['converted_order_date'].dt.weekofyear

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month,order_date_week
0,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.140,35.46,Medium,2011,product,2011-01-01,2011,1,52
1,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,36.036,9.72,Medium,2011,product,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,5/1/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.640,8.17,High,2011,product,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.055,4.82,High,2011,product,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.770,4.70,Medium,2011,product,2011-01-01,2011,1,52

The week is showing 52 because it considers the week 1 from the december month becasue we have executed week of the year.

In [82]:
df[df['order_date_year'] == 2014]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month,order_date_week
33759,ES-2014-2774938,1/1/2014,3/1/2014,Second Class,Fred Harton,Consumer,Ile-de-France,France,EU,Central,...,0.15,-111.6225,104.69,High,2014,product,2014-01-01,2014,1,1
33760,IN-2014-47134,1/1/2014,5/1/2014,Standard Class,Kean Nguyen,Corporate,Victoria,Australia,APAC,Oceania,...,0.10,46.9980,46.20,Medium,2014,product,2014-01-01,2014,1,1
33761,IT-2014-4810734,1/1/2014,3/1/2014,Second Class,Alan Shonely,Consumer,Ile-de-France,France,EU,Central,...,0.15,-43.1370,37.85,Critical,2014,product,2014-01-01,2014,1,1
33762,US-2014-105830,1/1/2014,3/1/2014,First Class,Duane Benoit,Consumer,Ohio,United States,US,East,...,0.20,-35.2152,30.66,High,2014,product,2014-01-01,2014,1,1
33763,CA-2014-160395,1/1/2014,7/1/2014,Standard Class,Kelly Lampkin,Corporate,Nevada,United States,US,West,...,0.20,53.9217,26.90,Low,2014,product,2014-01-01,2014,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,31-12-2014,4/1/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,0.20,4.5188,0.89,Medium,2014,product,2014-12-31,2014,12,1
51286,MO-2014-2560,31-12-2014,5/1/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÃ¢,Morocco,Africa,Africa,...,0.00,0.4200,0.49,Medium,2014,product,2014-12-31,2014,12,1
51287,MX-2014-110527,31-12-2014,2/1/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,0.00,12.3600,0.35,Medium,2014,product,2014-12-31,2014,12,1
51288,MX-2014-114783,31-12-2014,6/1/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.00,0.5600,0.20,Medium,2014,product,2014-12-31,2014,12,1
51289,CA-2014-156720,31-12-2014,4/1/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,0.20,-0.6048,0.17,Medium,2014,product,2014-12-31,2014,12,1

### **In which month we are doing the maximum sale**

In [85]:
df['order_date_month'].value_counts()

11    5660
12    5534
9     5237
6     4892
8     4715
10    4467
5     3938
3     3728
7     3571
4     3499
1     3122
2     2927
Name: order_date_month, dtype: int64

Here in value_counts() we can say that in 11th month there are highest number of transactions so the sales will be more in that month.

### **What is the cost to company over each and every order**
\
cost to company = discount + shipment cost

In [86]:
df['cost_to_company'] = df['discount'] + df['shipping_cost']
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month,order_date_week,cost_to_company
0,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,106.140,35.46,Medium,2011,product,2011-01-01,2011,1,52,35.46
1,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,36.036,9.72,Medium,2011,product,2011-01-01,2011,1,52,9.82
2,HU-2011-1220,1/1/2011,5/1/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,29.640,8.17,High,2011,product,2011-01-01,2011,1,52,8.17
3,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,-26.055,4.82,High,2011,product,2011-01-01,2011,1,52,5.32
4,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,37.770,4.70,Medium,2011,product,2011-01-01,2011,1,52,4.80

In [93]:
df[df['cost_to_company'] == df['cost_to_company'].max()]['product_name']

13891    Plantronics CS510 - Over-the-Head monaural Wir...
Name: product_name, dtype: object